@model ViagemPeloTempo.Models.Jogador

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViagemPeloTempo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="~/fonts/imagens/logo.jpg" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Login de Jogador</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="@Url.Action("Entrar", "Login")" class="form-horizontal">
                    @if (!string.IsNullOrWhiteSpace((string)ViewBag.MsgErro))
                    {
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="alert alert-danger" role="alert"> <strong>Erro!</strong> @ViewBag.MsgErro</div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-4 text-center">
                            @Html.LabelFor(m => m.Email, "E-mail", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-4 text-center">
                            @Html.LabelFor(m => m.Senha, "Senha", new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                            @*<input type="checkbox" id="visuSenha" class="text-right" /><label>Visualizar Senha</label>*@
                        </div>
                        <div class="col-md-4 text-right">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn" style="background-color: #ffd800" id="btnEntrar">Entrar</button>
                            <a href="@Url.Action("IndexCad", "Cadastro")" class="btn" style="background-color: #4cff00">Cadastro</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ViagemPeloTempo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

