<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/fonts/imagens/logo.jpg" />
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <h3>Seleção de Fase</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <table class="table table-striped" border="1" style="border: 1px solid black">
                        <thead>
                            <tr>
                                <th>Fases</th>
                                <th>Completas</th>
                                <th>Estude +</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Action("PagJogo", "Jogos")">Pré-historia</a> </td>
                                <td> *7/9 </td>   @*puxar do banco*@
                                <td><a href="https://www.infoescola.com/historia/pre-historia/">Conteúdo de Pre-historia</a></td>
                                
                            </tr>
                            <tr>
                                <td><a href="@Url.Action("PagJogo", "Jogos")">Idade Antiga</a></td>
                                <td>*7/9></td> @*puxar do banco*@
                                <td><a href="http://www.sohistoria.com.br/ef2/idadeantiga/">Conteúdo da Idade Antiga</a></td>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action("PagJogo", "Jogos")">Idade Media</a></td>
                                <td>*7/9</td> @*puxar do banco*@
                                <td><a href="https://www.todamateria.com.br/idade-media/">Conteúdo da Idade Media</a></td>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action("PagJogo", "Jogos")">Idade Moderna </a></td>
                                <td>*7/9</td> @*puxar do banco*@
                                <td><a href="https://www.suapesquisa.com/historia/idade_moderna.htm">Conteúdo da Idade Moderna</a></td>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action("PagJogo", "Jogos")">Idade Contemporanea </a></td>
                                <td>*7/9</td> @*puxar do banco*@
                                <td><a href="https://www.todamateria.com.br/idade-contemporanea/">Conteúdo da Idade Contemporanea</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
