@model ViagemPeloTempo.Models.Jogador

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViagemPeloTempo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="~/fonts/imagens/logo.jpg" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Cadastro de Jogador</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="@Url.Action("Salvar", "Cadastro")" class="form-horizontal">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErroMsg))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    <strong> Alerta!</strong>ViewBag.erroMsg</div>
                            </div>
                        </div>
                    }
                    @*@if (!string.IsNullOrWhiteSpace(ViewBag.ErroSen))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    <strong> Alerta!</strong>ViewBag.ErroSen
                                </div>
                                
                            </div>
                        </div>
                    }*@
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.NomeUsuario, "Nome de Usuário", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.NomeUsuario, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Senha, "Senha", new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Consenha, "Confirmação de Senha", new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Consenha, new { @class = "form-control" })
                        </div>
                    </div>                   
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Email, "Email", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button id="btnsalvar" type="submit" class="btn btn-success">Salvar</button>
                            <a href="@Url.Action("IndexLogin", "Login")" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ViagemPeloTempo</p>
        </footer>
    </div>
    <script type="text/javascript">
        $(documents).ready(function () {
            (#btnSalvar).
        })
       
    </script>
    <script type="text/javascript">
        $(documents).ready(function () {

        })
    </script>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>