@using VENDAS.Models
@model Venda
<div class="row">
    <div class="col-md-12">
        <h3>VENDA</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar", "Venda")" class="form-horizontal" method="post">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Codigo, "Código:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Cliente, "Cliente:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Data, "Data:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Data, "{0:dd/MM/yyyy HH:mm:ss}", new { @class = "form-control", @placeholder = "dd/MM/yyyy HH:mm:ss" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Itens, "Itens de Venda:", new { @class = "control-label" })
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("Adicionar", "Venda")">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        Adicionar Item
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor Unitário</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ItemVenda item in Model.Itens)
                                {
                                    <tr>
                                        <td>@item.Produto</td>
                                        <td>@string.Format("{0:N0}", item.Quantidade)</td>
                                        <td>@string.Format("{0:N2}", item.ValorUnitario)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" onclick="document.location.href='@Url.Action("Index", "Venda")'">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
